name: Acheve.TestHost Continous Deployment
on:
  push:
    tags:
      - v*
  workflow_dispatch:

jobs:
  build:
    env:
      BUILD_CONFIG: Release

    name: Build
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3

      - name: Setup .NET SDK
        uses: actions/setup-dotnet@v2
        with:
          dotnet-version: |
            6.0.421
            7.0.408
            8.0.415
            9.0.306

      - name: Build
        run: dotnet build -c $BUILD_CONFIG

      - name: Test
        run: dotnet test -c $BUILD_CONFIG --no-build

      - name: Pack
        run: dotnet pack -c $BUILD_CONFIG --no-build --include-source --include-symbols -o ./artifacts

      - name: Push
        run: dotnet nuget push ./artifacts/*.nupkg -k ${{secrets.NUGET_API_KEY}} -s https://api.nuget.org/v3/index.json --skip-duplicate
